$color-black: black;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.periodic {
  display: grid;
  width: 1200px;
  grid-template: repeat(9, calc(1200px / 18)) / repeat(18, calc(1200px / 18));
  &__item {
    margin: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
      transform: scale(1.5);
      transition: ease-in 200ms;
    }

    .periodic {
      &__element {
        text-decoration: underline dashed $color-black 3px;
        text-align: center;
        width: 50%;
        margin-bottom: 6px;
        font-size: 22px;
      }

      &__number {
        align-self: flex-start;
        justify-self: end;
        font-size: 10px;
        padding: 0 0px 3px 3px;
      }
    }
  }

  &__react-non-metal {
    background-color: rgb(70, 107, 109);
    &:hover {
      background-color: rgb(0, 99, 105);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__alkali-metal {
    background-color: rgb(143, 105, 168);
    &:hover {
      background-color: rgb(150, 0, 250);
      color: white;
    }
  }

  &__alkaline-earth-metal {
    background-color: rgb(107, 178, 138);
    &:hover {
      background-color: rgb(0, 255, 110);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__trans-metal {
    background-color: rgb(61, 142, 189);
    &:hover {
      background-color: rgb(0, 162, 255);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__metalloid {
    background-color: rgb(50, 165, 85);
    &:hover {
      background-color: rgb(1, 171, 52);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__post-trans-metal {
    background-color: rgb(61, 142, 189);
    &:hover {
      background-color: rgb(0, 162, 255);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__react-non-metal--red {
    background-color: rgb(151, 61, 61);
    &:hover {
      background-color: rgb(159, 0, 0);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__halogen {
    background-color: rgb(199, 159, 74);
    &:hover {
      background-color: rgb(255, 174, 0);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__noble-gas {
    background-color: rgb(193, 190, 1);
    &:hover {
      background-color: rgb(255, 251, 0);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__lanthanide {
    background-color: rgb(119, 175, 203);
    &:hover {
      background-color: rgb(0, 170, 255);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__actinide {
    background-color: rgb(134, 174, 66);
    &:hover {
      background-color: rgb(162, 255, 0);
      color: white;
      text-shadow: 1px 1px black;
    }
  }

  &__unknown-prop {
    background-color: rgb(128, 115, 138);
    &:hover {
      background-color: rgb(117, 45, 172);
      color: white;
      text-shadow: 1px 1px black;
    }
  }
}
